@{ 
    ViewBag.Title = "Contact";
}

<aside class="grid col-one-quarter mq2-col-one-third mq3-col-full">
    <p class="mbottom">I would love to talk to you and answer all of your questions</p>
    <address class="mbottom">
        <h5>Anton Datsenko </h5>
        L. Svobody Street <br>
        Kharkiv, Ukraine <br>
    </address>
    <p class="mbottom">
        +38 095 465 51 03<br>
    </p>
    <p class="mbottom">
        <a href="#">das.datsenko@gmail.com</a><br>
        <a href="#">das97@ukr.net</a><br>
        <a href="#">Facebook</a><br>
    </p>
</aside>

<section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
    <h2>Thank you for your message!</h2>
</section>


