
@{
    ViewBag.Title = "Profile";
}

<div >

    <div class="grid">
        <h1>I will try to introduce myself...</h1>
    </div>

    <div class="grid col-one-half mq2-col-full description ">
        <img src="~/Content/Images/Others/myself.jpg" alt="It's me." class="avatar"/>
        <p>Hello!</p>
        <p>
            I want to tell something about myself. I'm student. I study at Kharkiv National University of Radioelectronics.
            I have already finished three courses. I think I am ready to take part in serious projects and to work at the IT-company.
        </p>
        <p>I learn and develop, reading technical literature, reading and watching different lessons and doing differnt
        programming tasks. Everyday, I intensively improve my skills and abilities. I prefer Web-programming(ASP.NET) but I also know
        Win Forms and WPF. I have been learning C# and .Net for 1 year. So, I can say I'm .Net developer.</p>
        <p>I can say that I'm responsible, hardworking, eager to intensively learn, able to quickly learn, I try comprehensively
        self-educate, I'm enterprising, team player, non-conflictual, sociable, creative, punctual.</p>
        <p>
            I am looking for an opportunity to use my skills in order to make a significant contribution to the company and improve
            my skills. I want to work in a good team and take part in iteresting projects.</p>
</div>

    <div >
        <ul class="personal-info">
            <li><label>Name</label><span>Anton Datsenko</span></li>
            <li><label>Date of birth</label><span>April 3, 1997</span></li>
            <li><label>Address</label><span>Kharkiv Oleksiivka Ukraine</span></li>
            <li><label>Email</label><span>das.datsenko@gmail.com</span></li>
            <li><label>Phone</label><span>+38 095 465 51 03</span></li>
            <li><label>Website</label><span>wwww.vCard.com</span></li>
        </ul>
    </div>

</div>

